# MacOS
.DS_Store
# Yarn
node_modules
yarn-error.log
package-lock.json
# Config
.env
# Editor Setup
.vscode
# Husky
.husky/_
.husky/.gitignore
# TypeScript
dist/
*.tsbuildinfo
# JetBrains
.idea/
# Coverage
coverage/
.nyc_output/
# Hardhat
cache/
# Build
/src/contracts
# Typedoc
docs/
