/.github/
/.husky/
/patches/
/src/
/tasks/
/tests/
/.prettierrc
/CNAME
/commitlint.config.js
/copyInternalAbis.js
/hardhat.config.ts
/jsdoc.config.json
/tsconfig.json
/typechain.sh
/.nyc_output/
/cache/
/coverage/
/cjsVersionWriter.js
